.container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  font-family: sans-serif;
}

.create {
  width: 40%;
  background-color: rgb(252, 252, 246);
  color: #333;
  border-right: 1px solid #333;
  padding: 20px;
}

.list {
  width: 60%;
  background-color: beige;
  color: #333;
  padding: 20px;
}
.note {
  resize: none;
  margin-top: 10px;
  height: 150px;
}
.btn {
  cursor: pointer;
}
.list-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
